<mat-card class="container">
  <form class="register-form"
    #registerOne="ngForm">

    <header>
      <h1>Registration Form</h1>
    </header>
    <h2>Registration Part 1</h2>

    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <select matNativeControl
        name="role"
        ngModel
        required>
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput ngModel
        placeholder="ID"
        type="number"
        name="id" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput ngModel
        placeholder="Email"
        type="email"
        name="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput ngModel
        placeholder="Password"
        name="password" required>
    </mat-form-field>

    <!-- <label>Password</label>
    <input id="psw-input" type="password" class="form-control">
    <div id="pswmeter" class="mt-3"></div>
    <div id="pswmeter-message" class="mt-3"></div>
    <small class="form-text text-muted mt-3">Password you choose has to meet the following requirements: 1) At least one lowercase alfabetic character. 2) At least one uppercase alfabetic character. 3) At least one numeric character. 4) It's length has to be greater than 8 characters.</small> -->

    <button mat-raised-button
      color="primary"
      (click)="handleRegClick(registerOne.form.value)"
      >Move To Part Two &nbsp; &nbsp;
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>

  </form>
</mat-card>
