img {
  width: 80%;
  height: 80%;
}

.container {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  margin: auto;
  /* justify-content: center;
  align-items: stretch;
  object-fit: contain; */
}

.card {
  max-width: 20%;
  min-width: 200px;
  align-items: stretch;
  margin: 5px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: stretch;
  object-fit: contain;
}

.cart-component{
  /* max-width: fit-content+300px; */
}
