<mat-card class="container">
  <form class="register-form">

    <header>
      <h1>Registration Form</h1>
    </header>
    <h2>Registration Part 2</h2>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput
        placeholder="First Name"
        name="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput
        placeholder="Last Name"
        name="lastName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput
        placeholder="City"
        name="city">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input matInput
        placeholder="Street"
        name="street">
    </mat-form-field>

    <button mat-raised-button color="primary">Sign Up! &nbsp; &nbsp;
      <mat-icon>person_add</mat-icon>
    </button>

  </form>
</mat-card>

