.register-form {
  background-color: rgba(134, 77, 227, 0.92);
  opacity: 1;
  background-image: url(../../../assets/whiteWall.jpg);
  border: 1px black ridge;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: 50%;
  margin-top: 5%;
  padding: 5%;
}

.item {
  width: fit-content;
  align-self: center;
}

header h1 {
  text-align: center;
}

.container {
  height: 100vh;
  background-color: blue;
  background-image: url("../../../assets/wallOfBricks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

h3 {
  padding: 0%;
  margin: 0 auto;
}

.text {
  text-align: center;
}
