<div class="container">

    <h1>Items In Cart</h1>
    <table mat-table
      class="mat-elevation-z8">
      <tr>
        <th mat-header-cell>No.</th>
        <th mat-header-cell>Name</th>
        <th mat-header-cell>Amount</th>
      </tr>

      <tr class="print"
        *ngFor="let item of cart; let i = index">
        <td mat-cell>{{i + 1}}</td>
        <td mat-cell>{{item.item}}</td>
        <td mat-cell>{{item.quantity}}</td>
      </tr>
    </table>
    {{finalPrice}}

    <button mat-raised-button color="primary" class="button"
      (click)="handleclick()">
    Go To Payment</button>

</div>
