.container{
  min-height: 100vh;
  min-width:200px;
  display: flex;
  flex-direction: column;
  text-align: center;

  background: url('../../../assets/reka-1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

th, td {
  border:1px solid black;
}



