<mat-card>

  <div class="container">

    <h1>Items In Cart</h1>
    <table mat-table
      class="mat-elevation-z8">
      <tr>
        <th mat-header-cell>No.</th>
        <th mat-header-cell>Name</th>
        <th mat-header-cell>Amount</th>
        <th mat-header-cell>Price</th>
        <th mat-header-cell>Delete</th>
      </tr>

      <tr class="print"
        *ngFor="let item of cart; let i = index">
        <th mat-cell>{{i + 1}}</th>
        <td mat-cell>{{item.item}}</td>
        <td mat-cell>{{item.quantity}}</td>
        <td mat-cell>{{item.price}}</td>
        <td mat-cell><button
          (click)="handleDelete(item.itemID)"
          >Delete</button></td>
        </tr>
    </table><br>
    <h2>FINAL PRICE: {{finalPrice | number :'1.0-3' | currency}}</h2>

    <button mat-raised-button
      color="primary"
      class="button"
      (click)="handleclick()">
      Go To Payment</button>

  </div>
</mat-card>
