.container{
  min-height: 100vh;
  min-width:200px;
  border: 1px red ridge;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

th, td {
  border:1px solid black;
}



