<mat-card class="container">
  <form class="register-form">

    <header>
      <h1>Log In</h1>
    </header>

    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput
        placeholder="User Name"
        name="userName">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput
        placeholder="Password"
        name="password">
    </mat-form-field>

    <button mat-raised-button
      color="primary">Log In</button><br>
    <h3 class="text">Not registered yet? Register now:</h3>
    <button mat-raised-button
      color="accent" routerLink="register">Sign Up!</button>

  </form>
</mat-card>
